<div class="m-4">
    <table class="text-md w-6/12 rounded">
        <tbody>
          <tr class="border-b">
            <th class="text-left py-3">Name</th>
            <th class="text-left py-3">Info</th>
            <th class="text-left py-3">Tags</th>
          </tr>
          <tr class="border-b hover:bg-gray-100">
            <td class="py-3">{{ include.name }}</td>
            <td class="py-3">{{ include.info }}</td>
            <td>
              <span class="mr-3 text-sm bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">
                {{ include.tag }}
              </span>
          </td>
          </tr>
        </tbody>
      </table>
  </div>